@import '../../abstracts.scss';

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6em;

  @include media(md) {
    flex-direction: column;
  }

  &__sectionLeft {
    max-width: 470px;

    @include media(lg) {
      max-width: 400px;
    }

    @include media(md) {
      max-width: 500px;
      text-align: center;
    }
  }

  &__sectionRight {
    width: 50%;

    @include media(lg) {
      max-width: 100%;
    }

    & > img {
      max-width: 100%;
    }
  }
}
