@import '../../abstracts.scss';

.header {
  width: 100%;
  min-height: calc(100dvh - 80px);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4em;
    max-width: 55%;

    @include media(lg) {
      gap: 3em;
    }

    @include media(md) {
      order: 2;
      max-width: 90%;
    }

    & > h1 {
      font-size: 2.8rem;

      @include media(lg) {
        font-size: 2.4rem;
      }

      @include media(sm) {
        font-size: 1.8rem;
      }

      & > span {
        font-size: 2rem;
        font-weight: 600;
        color: #4dfa92;

        @include media(lg) {
          font-size: 1.4rem;
        }

        @include media(sm) {
          font-size: 1.4rem;
        }
      }
    }

    & > h2 {
      font-size: 1.2rem;
      font-weight: 600;

      @include media(lg) {
        font-size: 1rem;
      }
    }
  }

  &__img {
    z-index: -3;
    position: absolute;
    right: 2rem;

    @include media(md) {
      flex-direction: row;
      position: relative;
      order: 0;
    }

    & > img {
      max-height: 450px;

      @include media(lg) {
        max-height: 360px;
      }

      @include media(md) {
        max-width: 100%;
      }
    }
  }
}

.sectionTop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(md) {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
}

.sectionBottom {
  display: flex;
  justify-content: center;

  @include media(md) {
    display: none;
  }

  & > img {
    transform: translateY(60px);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(100px);
  }
}

svg #wheel {
  animation: scroll ease 1.5s infinite;
}
