.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 200px;
  }

  &__navLinkContainer {
    font-size: 1rem;
    font-weight: 500;
    display: inherit;
    list-style: none;
    gap: 2em;

    &__navItems:hover {
      color: #fff;
    }
  }

  &__btnContainer {
    display: flex;
    gap: 2em;
  }
}

@media (max-width: 968px) {
  .navbar {
    &__logo {
      width: 140px;
    }

    &__navLinkContainer {
      font-size: 0.8rem;
      gap: 2em;
    }

    &__btnContainer {
      gap: 1em;
    }
  }
}
