@import '../../abstracts.scss';

.blogs {
  display: flex;
  flex-direction: column;
  gap: 4em;

  & > hr {
    border: none;
    height: 5px;
    border-radius: 100em;
    background-color: #4dfa92;
    margin-bottom: 5em;

    @include media(sm) {
      height: 3px;
      margin-bottom: 3em;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    @include media(sm) {
      flex-direction: column;
      gap: 2em;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 2em;

      & > h6 {
        font-size: 1.2rem;
        font-weight: 600;
        max-width: 500px;
        line-height: 1.8;

        @include media(sm) {
          font-size: 0.8rem;
        }
      }
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;

    @include media(xl) {
      grid-template-columns: 1fr;
    }

    &__articles {
      display: flex;
      flex-direction: column;
      gap: 2em;

      & > h5 {
        color: #4dfa92;
        font-size: 1.4rem;

        @include media(sm) {
          font-size: 1rem;
        }
      }

      &__cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4em;

        @include media(xl) {
          grid-template-columns: repeat(2, 1fr);
          gap: 2em;
        }

        @include media(md) {
          grid-template-columns: 1fr;
        }
      }
    }

    &__news {
      display: flex;
      flex-direction: column;
      gap: 2em;

      & > h5 {
        color: #4dfa92;
        font-size: 1.4rem;

        @include media(sm) {
          font-size: 1rem;
        }
      }

      &__cont {
        display: flex;
        flex-direction: column;
        gap: 4em;

        @include media(xl) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2em;
        }

        @include media(md) {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
