@import '../../abstracts.scss';

.stats {
  border: 2px solid #4dfa92;
  border-radius: 2rem;
  padding: 4em 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include media(lg) {
    padding: 2em 2em;
  }

  @include media(md) {
    grid-template-columns: 1fr;
    gap: 4em;
    max-width: fit-content;
    margin: 0 auto;
  }


  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h5 {
      font-size: 2rem;
      color: #4dfa92;

      @include media(lg) {
        font-size: 1.6rem;
      }

      @include media(md) {
        font-size: 2rem;
      }
    }

    & > p {
      font-size: 1rem;
      text-align: center;
      font-weight: 500;

      @include media(lg) {
        font-size: 0.8rem;
      }

      @include media(md) {
       font-size: 1rem;
       max-width: 300px;
      }
    }
  }
}
