@import '../../abstracts.scss';

.news {
  background-color: #fff;
  color: #000;
  height: 320px;
  max-width: 420px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 6px 6px 0 0 #4dfa92;

  @include media(xl) {
    max-width: 100%;
  }

  @include media(md) {
    height: 300px;
  }

  &__thumbnail {
    height: 190px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;

    @include media(xsm) {
      max-height: fit-content;
    }

    & > img {
      max-height: fit-content;

      @include media(lg) {
        min-width: fit-content;
      }

      @include media(md) {
        width: 100%;
        min-height: 100%;
      }

      @include media(sm) {
        min-width: 400px;
        min-height: 100%;
      }
    }
  }

  &__info {
    padding: 1em 2em;
    height: calc(100% - 190px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > h6 {
      font-size: 1.2rem;
      margin-bottom: 1em;

      @include media(lg) {
        font-size: 1rem;
      }

      @include media(sm) {
        font-size: 1rem;
      }

      @include media(xsm) {
        font-size: 0.8rem;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div {
        font-weight: 600;
        font-size: 0.8rem;
        gap: 0.2em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media(xsm) {
          gap: 0;
        }

        & > span:nth-child(1) {
          color: #0f4634;

          @include media(xsm) {
            font-size: 0.6rem;
          }
        }

        & > span:nth-child(2),
        & > span:nth-child(3) {
          color: #474747;

          @include media(xsm) {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}
