@import '../../abstracts.scss';

.footer {
  background-color: #304f45;

  &__body {
    max-width: 114em;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    gap: 10em;

    @include media(lg) {
      flex-direction: column;
      gap: 6em;
    }

    &__left {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      gap: 1.6em;

      @include media(lg) {
        align-items: center;
        text-align: center;
        gap: 1.6em;
      }

      & > img {
        width: 200px;
      }

      & > p {
        line-height: 1.8;
      }

      &__socials {
        color: #4dfa92;
        display: flex;
        gap: 1rem;
        font-size: 2rem;
      }
    }

    &__right {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include media(lg) {
        max-width: 500px;
        gap: 3em;
      }

      & > div:first-child,
      & > div:last-child {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        font-size: 1rem;
        font-weight: 500;

        & > h6 {
          font-size: 1.4rem;
          color: #fff;

          @include media(sm) {
            font-size: 1.2rem;
          }
        }

        & > a {
          font-size: 1rem;
        }
      }
    }
  }

  &__copyright {
    text-align: center;
    font-size: 0.8rem;
    padding: 1.6em 0;
  }
}
